---
import AuthLayout from '../layouts/AuthLayout.astro';
import LoginForm from '../components/auth/LoginForm';
---

<AuthLayout 
  title="Welcome back"
  description="Enter your email and password to sign in to your account"
>
  <LoginForm client:load />
  <p class="px-8 text-center text-sm text-muted-foreground">
    <a href="/reset-password" class="hover:text-brand underline underline-offset-4">
      Forgot your password?
    </a>
  </p>
</AuthLayout>
