---
import AuthLayout from "../layouts/AuthLayout.astro";
import ResetPasswordForm from "../components/auth/ResetPasswordForm";
---

<AuthLayout
  title="Resetowanie hasła"
  description="Wprowadź swój adres email, a my wyślemy Ci link do zresetowania hasła"
>
  <ResetPasswordForm client:load />
  <p class="px-8 text-center text-sm text-muted-foreground">
    <a href="/login" class="hover:text-brand underline underline-offset-4"> Powrót do logowania </a>
  </p>
</AuthLayout>
